.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.customer_information {
  width: 300px;
}

.information input {
  width: 250px;
  height: 50px;
  font-size: large;
  padding-left: 10px;
}

.update_information {
  width: 50%;
}

.update_information input {
  width: 200px;
  height: 20px;
  margin-bottom: 5px;
}

button {
  width: 250px;
  height: 50px;
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.customers {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.customer {
  width: 500px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.customer h3 {
  margin: 10px;
}

.customer p {
  margin: 10px;
}
